









.boxed {
  border: 1px solid #ffffe6;
  box-shadow: 5px 5px 10px #bababa;
  border-radius: 10px;
  background-color: #ffffe6;
}

.boxed li {
  list-style-type: none;
  padding: 5px 0 0 0;
  margin: 0;
}

.boxed li:last-of-type {
  padding: 5px 0 10px 0;
}

@media screen and (max-width: 1150px) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  h1,
  h2 {
    font-size: 7vw;
    padding: 4mm 0 2mm;
    line-height: normal;
    border-top: 0;
    border-bottom: 0;
  }
  .nav-hide-button {
    margin: 0 auto 10px;
  }
  .nav {
    max-width: 100%;
  }
  .nav-ul li {
    padding: 16px 0 0 0;
  }
  .wrapper {
    height: auto;
    width: auto;
    border: 0;
    margin-left: 0;
  }
  .boxed {
    width: auto;
    margin-left: 10mm;
  }
  .left,
  .right {
    float: none;
  }
  .left {
    width: auto;
  }
}

@media print {
  .mobile-show {
    display: none;
  }
  .nav {
    display: none;
  }
  h1 {
    display: none;
  }
  h2 {
    background-color: #000;
    margin: 0 auto 0;
  }
  h3 {
    color: #000;
  }
  .wrapper {
    margin: 0;
    padding: 0;
    border: none;
    height: 277mm;
    width: 210mm;
  }
  html {
    height: 277mm;
    width: 210mm;
  }
  body {
    height: 277mm;
    width: 210mm;
  }
  .boxed {
    border: 1px solid #000;
    box-shadow: none;
    border-radius: none;
    background-color: #fff;
  }
  img {
    display: none;
  }
  .wrapper::before {
    content: "";
    display: block;
    height: 150px;
    width: 100%;
  }
  .platzhalter {
    display: none;
  }
}
